*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}


:root{
    --text-main-color: #111111;
    --text-color: #000;
    --container-principal-background-color: #FBDFDB ;
    --footer-background-color: #eee;
    --footer-text-color: #999;
    --text-autor: #777;
}


body{  
    margin: 0 auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* estilizando o header */
.menu{
    width: 75vw;
    margin: 1.5vw 0 1.5vw 0;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}


/* div atras do Foodfy */
.texto-principal{
    width: 15vw;
}


/* estilizando o Foodfy */
.texto-principal h3{
    font-size: 1.8vw;
    font-weight: 300;
    color: var(--text-main-color);
    letter-spacing: 0.1vw;
}


/* estilizando o menu = Sobre e o menu = Receitas */
.menu-alternativo a{
    color: var(--text-main-color);
    margin-right: 2.5vw;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/* estilizando a classe = container-principal  */
.container-principal{
    margin: 0 auto;
    width: 75vw;
    height: 61.30vh;
    display: flex;
    align-items: center;
    background-color: var(--container-principal-background-color);
    border-radius: 2.41vw;
    margin-bottom: 1.5vw;
}


/* posicionando os textos do container */
.container-dos-textos{
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4vw;
}

.container-dos-textos h2{
    width: 24.5vw;
    font-size: 2.5vw;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2vh;
    color: var(--text-main-color);
}

.container-dos-textos p{
    width: 25vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    font-size: 1.4vw;
}

/* posicionando a imagem do container */
.container-image{
    width: 35vw;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.container-image img{
    width: 17.3vw;
    height: 50.1vh;
}


/* receitas mais acessadas container*/
.mais-acessadas{
    width: 75vw;
    margin-bottom: 1.5vw;
}


/* titulo = mais acessadas */
.mais-acessadas h2{
    margin-bottom: 1vw;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.9vw;
    color: var(--text-main-color);
}


/* container que abranje todas as receitas */
.receitas-mais-acessadas{
    display: grid;
    grid-template-areas: 
        "1c 2c 3c"
        "4c 5c 6c";
}


/* container das 6 receitas */
.container-receitas{
    margin: 0 1vw 1vw 0;
}


/* estilizando a imagem das receitas */
.container-receitas img{
    width: 24.1vw;
    height: 24.4vh;
    border-radius: 1.2vw;
    margin-bottom: 0.5vw;
}

/* nome da receita */
.nome-receita{
    font-size: 1.4vw;
    margin-bottom: 0.3vw;
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--text-main-color);
}


/* nome do autor */
.autor{
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--text-autor);
    font-size: 1.12vw;
}

/* certificando o posicionamento de cada elemento */
.container-one{
    grid-area: 1c;
}

.container-two{
    grid-area: 2c;
}

.container-tree{
    grid-area: 3c;
}

.container-four{
    grid-area: 4c;
}

.container-five{
    grid-area: 5c;
}

.container-six{
    grid-area: 6c;
}

/* footer */
footer{
    width: 100vw;
    height: 10.3vh;
    background-color: var(--footer-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* texto do footer */
footer h5{
    font-family: 'Roboto';
    font-weight: 400;
    color: var(--footer-text-color);
    font-size: 1.12vw;
}